@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root{


    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --green: #64ff7e;
    /*--green: #64ffda;*/
    /*--green-tint: rgba(100,255,218,0.1);*/
    --green-tint: rgba(100, 255, 139, 0.1);
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
}

html body{
    background-color: var(--navy);
    color:var(--light-slate);
}


/*---------------------------------------*/
.nav-link:hover{
    
    color:var(--green);
    
}
.nav-link:focus{
    
    color:var(--green);
    
}

.bg-nav{
    background-color:var(--light-navy);
}
/*----------------------------------------*/
/*-----------------------------------------*/

.btn-linkIcons{
    padding: 1.1rem;
    border: var(--green) solid 1px;
    color:var(--green);

}
.btn-linkIcons:focus{
    border: var(--green) solid 1px;
    color:var(--green);

}
.btn-linkIcons:hover{
    border: var(--green) solid 1px;
    color:var(--green);
    background-color: var(--green-tint);

   font-size:1.25rem;
   transition: font-size 0.3s;
   

}

/*-----------------------------------------*/

.btn-download{
    border: var(--green) solid 1px;
    color:var(--green);

}
.btn-download:focus{
    border: var(--green) solid 1px;
    color:var(--green);

}
.btn-download:hover{
    border: var(--green) solid 1px;
    color:var(--green);
    background-color: var(--green-tint);
}
/*---------------------------------------*/
.btn-closed{
  
    border: var(--green) solid 1px;
    border-radius: 1.5rem;
    color:var(--green);

}
.btn-closed-alert{
    margin: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    border: var(--green) solid 1px;
    border-radius: 1.5rem;
    color:var(--green);

}
.btn-closed-alert:focus{
    border: var(--green) solid 1px;
    color:var(--green);

}
.btn-closed-alert:hover{
    border: var(--green) solid 1px;
    color:var(--green);
    background-color: var(--green-tint);
}

.btn-closed:focus{
    border: var(--green) solid 1px;
    color:var(--green);

}
.btn-closed:hover{
    border: var(--green) solid 1px;
    color:var(--green);
    background-color: var(--green-tint);
}



/*-----------------------------------------*/
.btn-logo{
    border: none;
    border-radius:0px ;
    border-bottom: var(--green) solid 2px;
    font-family: var(--font-sans);
    font-size:large;
    color: var(--lightest-slate);

}
.btn-logo:hover{
    border-radius:0px ;
    border-bottom: var(--green) solid 2px;
    font-family: var(--font-sans);
    font-size:large;
    color: var(--lightest-slate);
    background-color: var(--green-tint);

}
/*-----------------------------------------*/

.text{
    color:var(--light-slate);
    font-family: var(--font-mono);
    
}

.text-green{
    color:var(--green);

}

@media( min-width:760px) and ( max-width:850px) {
    .text{
        color:var(--light-slate);
        font-family: var(--font-mono);
        font-size: 0.85rem;
    }

}


.titulos{
    border-radius:0px ;
    border-bottom: var(--green) solid 2px;
    margin-bottom: 1.5rem;

}

.border-alert{
    border: var(--green) solid 1px;

    
}

